<%= form_for(update_item) do |f| %>
  <% if update_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(update_item.errors.count, "error") %> prohibited this update_item from being saved:</h2>

      <ul>
      <% update_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uid %>
    <%= f.text_field :uid %>
  </div>

  <div class="field">
    <%= f.label :updateDate %>
    <%= f.date_select :updateDate %>
  </div>

  <div class="field">
    <%= f.label :titleText %>
    <%= f.text_field :titleText %>
  </div>

  <div class="field">
    <%= f.label :mainText %>
    <%= f.text_area :mainText %>
  </div>

  <div class="field">
    <%= f.label :redirectionUrl %>
    <%= f.text_field :redirectionUrl %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
