
<div class="container-fluid">

  <ul class="category-container">
    <li class="category-item"><%= link_to 'Politics', static_path({category: 'politica'}) %></li>
    <li class="category-item"><%= link_to 'World', static_path({category: 'noticias'}) %></li>
    <li class="category-item"><%= link_to 'Sports', static_path({category: 'deportes'}) %></li>
    <li class="category-item"><%= link_to 'Entertainment', static_path({category: 'entretenimiento'}) %></li>
    <li class="category-item"><%= link_to 'Science', static_path({category: 'ciencia'}) %></li>
    <li class="category-item"><%= link_to 'Technology', static_path({category: 'tecnologia'}) %></li>
  </ul>
</div>
