
<div class="container-fluid">

  <ul class="category-container">
    <li class="category-item"><%= link_to 'Politics', static_sport_path %></li>
    <li class="category-item"><%= link_to 'World', static_sport_path %></li>
    <li class="category-item"><%= link_to 'Sports', static_sport_path %></li>
    <li class="category-item"><%= link_to 'Entertainment', static_sport_path %></li>
    <li class="category-item"><%= link_to 'Science', static_sport_path %></li>
    <li class="category-item"><%= link_to 'Technology', static_sport_path %></li>
  </ul>

</div>
