<!DOCTYPE html>
<html>
  <head>
    <title>NewsHound</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js','data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family= col-sm-6Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

  </head>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="text-center">
        <%= link_to 'News Hound', root_path, class: 'navbar-brand', style: 'color: white' %>
      </div>

    </div><!-- /.container-fluid -->
  </nav>

  <body>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
